* {
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
}

body {
  background: #444;
  color: black;
  font-family: Arial, Helvetica, sans-serif;
}

.wrapper {
  width: 80%;
  margin: 0 auto;
  padding: 16px 10px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(245px, 1fr)); /*225px*/
  grid-auto-rows: 190px; /*225px*/
  grid-gap: 5px;
  justify-items: center;
  align-items: center; /*end*/

}

.gallery-container {
  position: relative;
  height: 187px;
  width: 243px;
}

.gallery-container img {
  position: absolute;
  height: 100%;
  width: 100%;
  
}

.text-overlay {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  position: absolute;
  height: 100%;
  width: 100%;
  background: #cfa125;
  text-align: center;
  z-index: 2;
  opacity: 0;
  transition: opacity;  
}

.gallery-container a{
  text-decoration: none;
  color: rgb(0, 0, 0);
}

.text-overlay h1 {
  color: black;
  padding: 15px 10px 0px 10px;
  font-size: 1.5rem;
  font-weight: 600;
  text-shadow: 0px 2px 2px #fff;
}

.text-overlay p {
  text-align: left;
  padding: 20px;
  color: white;
  text-shadow: 0px 2px 2px #111;
}

.gallery-container:hover .text-overlay{
    /* set the overlay to visible */
    opacity: .5;
    transition-duration: .5s;
    transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1)
    -moz-transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1)
}

.gallery-container:hover img{
    opacity: .6;
}

#heart-icon{
  text-align: left;
  padding-right: 90px;   
}

#heart-icon:hover i{
  color: red;
  cursor: pointer; 
}
#share-icon:hover i{
  color: white;
  cursor: pointer; 
  /* font-weight: 300; */
}


